---
layout: default
---

<script>
  $(document).ready(function () {
    $("#typewriteText").typewrite({
      actions: [
        {
          type:
            "Hello! 您好! Välkommen! Bonjour！Hallo！ こんにちは！ Ciao！ Здравствуйте! مرحبا!",
        },
      ],
    });
  });
</script>

<script
  type="text/javascript"
  src="https://platform.linkedin.com/badges/js/profile.js"
  async
  defer
></script>

<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">Welcome to my personal homepage!</h1>
    <h3>Zhengyu Wang | Junior Developer | Stockholm | Sweden</h3>
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-warning btn-lg">
      <a href="/about.html">About Me</a>
    </button>
  </div>
  <div
    class="LI-profile-badge"
    data-version="v1"
    data-size="medium"
    data-locale="sv_SE"
    data-type="horizontal"
    data-theme="dark"
    data-vanity="zhengyu-wang-65a7937b"
  >
    <a
      class="LI-simple-link"
      href="https://se.linkedin.com/in/zhengyu-wang-65a7937b?trk=profile-badge"
      >Zhengyu Wang</a
    >
  </div>
</div>
